<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kursy NBP</title>
</head>
<body><table><tr>
<td style="border-style: solid; border-width: 3px; border-color: green"><h2 style=" color:cornflowerblue ">KURSY NBP</h2></td>
    </tr></table>
    <br>
    <form method="POST" action="/nbp" name="b">
        <select name="option">
            {% for item in items %}
            <option value={{item}}>{{item[1]}}</option>
            {% endfor %}
            </select>
        <input type="number"  name="amount">
        <input type="submit" value="Przelicz">
    </form>
    <p>cena: {{b}} PLN</p>
    <p>kwota: {{p}} PLN</p>
</body>
</html>